.li-hoverbar::before {
	content: "";
	display: inline-block;
	position: absolute;
	height: 0px;
	width: 5px;
	background-color: #ffc107;
	transform: translate(-15px, -3px);
	transition: height 0.5s;
}

.li-hoverbar:hover::before {
	height: 88px;
}

#founder{
	position:relative;
}

#founder::before{
	content: "";
    background: url(/assets/img/quotation.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: -120px;
	left: 0px;
	height: 200px;
	width: 200px;
	z-index: -1;
}

@media only screen and (max-width: 575px) {
    #founder::before {
		height: 80px;
		width: 80px;
		top: -30px;
		left: -20px;
    }
}

.rs-image {
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))

}
.body-gradient {
	
	background: rgb(0,212,255);
	background: linear-gradient(180deg, rgba(0,212,255,0.15) 60%, rgba(9,9,121,0.10) 95%);
	background-repeat: no-repeat;
	background-size: auto;
	background-attachment: fixed;

}