.li-hoverbar::before {
	content: "";
	display: inline-block;
	position: absolute;
	height: 0px;
	width: 5px;
	background-color: #ffc107;
	transform: translate(-15px, -3px);
	transition: height 0.5s;
}

.li-hoverbar:hover::before {
	height: 88px;
}

#founder{
	position:relative;
}

#founder::before{
	content: "";
    background: url(/assets/img/quotation.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: -120px;
	left: 0px;
	height: 200px;
	width: 200px;
	z-index: -1;
}

@media only screen and (max-width: 575px) {
    #founder::before {
		height: 80px;
		width: 80px;
		top: -30px;
		left: -20px;
    }
}

.rs-image {
	/*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
	-webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), transparent);
	right: 18% !important;
	/*	filter: saturate(90%)  brightness(120%) drop-shadow(15px -15px #f5721933);*/
}
     

div::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	
    background: linear-gradient(60deg, #f57219 44%, #fedf60 100% );
	
    transform: translate3d(25px, -25px, 0) scale(0.95);
    filter: blur(0px);
    opacity: 50%;
    transition: opacity 0.3s;
     border-radius: inherit;
}

/* 
* Prevents issues when the parent creates a 
* stacking context. (For example, using the transform
* property )
*/
div::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
        



.body-gradient {
	
	background: rgb(0,212,255);
	background: linear-gradient(180deg, rgba(0,212,255,0.15) 60%, rgba(9,9,121,0.10) 95%);
	background-repeat: no-repeat;
	background-size: auto;
	background-attachment: fixed;

}

body {
	/*background-image: url(/assets/wave.svg);*/
	

}
body::after {
	content:"";
	position: absolute;
	top: 75px;
	left: -50%;
	width: 150%;
	height: 200%;
	z-index: -1;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 1440 390" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 57L80 56.3C160 55.7 320 54.3 480 53.8C640 53.3 800 53.7 960 60.5C1120 67.3 1280 80.7 1360 87.3L1440 94L1440 0L1360 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z" fill="%23fedf60"></path><path d="M0 46L80 45.2C160 44.3 320 42.7 480 44.5C640 46.3 800 51.7 960 48.7C1120 45.7 1280 34.3 1360 28.7L1440 23L1440 0L1360 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z" fill="%23fec741"></path><path d="M0 20L80 24C160 28 320 36 480 36C640 36 800 28 960 23.8C1120 19.7 1280 19.3 1360 19.2L1440 19L1440 0L1360 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z" fill="%23ffae24"></path></svg>');
	opacity: 85%;
}
