:root {
  --cc-btn-primary-bg: #005923 !important;
}

.li-hoverbar::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 0px;
  width: 5px;
  background-color: #005923;
  transform: translate(-15px, -3px);
  transition: height 0.5s;
}

.li-hoverbar:hover::before {
  height: 88px;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #c38cd3 !important;
}

#founder {
  position: relative;
}

#founder::before {
  content: "";
  background-color: #fe635780;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23212529' class='bi bi-quote' viewBox='0 0 16 16'%3E%3Cpath d='M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -100px;
  left: -95px;
  height: 125px;
  width: 125px;
  z-index: -1;
  border-radius: 100px;
}

@media only screen and (max-width: 575px) {
  #founder::before {
    height: 80px;
    width: 80px;
    top: -30px;
    left: -20px;
  }
  .logo-2bf {
    bottom: 27px !important;
  }
}

.logo-2bf {
  top: 1px;
}

.rs-i2 {
  /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
  -webkit-mask-image: none;
  filter: none;
}

.body-gradient {
  background: #fff;
  background: linear-gradient(180deg, #c38cd333 20%, #fe635733 35%, #f5f5f533 50%) #eeeeee;

  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: scroll !important;
}

.body-gradient > * {
  filter: none;
}

body::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0%;
  height: 200px;
  width: 100%;
  background-color: #005923;
  opacity: 85%;
}

body {
  background-color: rgb(245, 245, 245) !important;
}

body::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 80%;
  z-index: -10;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml,<svg id="visual" viewBox="0 0 1440 390" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 57L80 56.3C160 55.7 320 54.3 480 53.8C640 53.3 800 53.7 960 60.5C1120 67.3 1280 80.7 1360 87.3L1440 94L1440 0L1360 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z" fill="%23c2f43b"></path><path d="M0 46L80 45.2C160 44.3 320 42.7 480 44.5C640 46.3 800 51.7 960 48.7C1120 45.7 1280 34.3 1360 28.7L1440 23L1440 0L1360 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z" fill="%237da823"></path><path d="M0 20L80 24C160 28 320 36 480 36C640 36 800 28 960 23.8C1120 19.7 1280 19.3 1360 19.2L1440 19L1440 0L1360 0C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0L0 0Z" fill="%23005923"></path></svg>');
  opacity: 85%;
  /*filter: drop-shadow(10px 30px 7px #fedf60);*/
}

img {
  border-radius: 10px;
}

#expertise-memoji {
  border-radius: 500px;
  background-color: #fe635780;
}

.icon-container {
  border-radius: 500px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 5rem;
  height: 5rem;
}

.icon-container > i::before {
  transform: translateY(0.6rem) !important;
}

.icon-gold {
  background-color: #fedf60;
}

.icon-silver {
  background-color: rgb(193, 193, 193);
}

.icon-bronze {
  background-color: #ffae24;
}

.rs-image {
  /*-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
  -webkit-mask-image: linear-gradient(rgb(150, 150, 150) 60%, transparent);
  /*filter: saturate(70%) brightness(120%) drop-shadow(5px -15px #fff)*/
  right: 5%;
  width: 400px;
  z-index: -1;
}

@media (min-width: 992px) {
  .border-end-lg-3 {
    border-radius: 0.5rem 0 0 0.5rem !important;
  }
  .border-start-lg-3 {
    border-radius: 0 0.5rem 0.5rem 0 !important;
  }
}

@media only screen and (max-width: 992px) {
  .display-md-5 {
    font-size: 2rem !important;
  }
  .lead {
    font-size: 1rem !important;
  }
}
@media only screen and (min-width: 1400px) {
  .rs-image {
    transform: scale(1.6) translateX(20px);
  }
}
@media only screen and (max-width: 1400px) {
  .rs-image {
    transform: scale(1.5) translateX(10px);
  }
}

@media only screen and (max-width: 992px) {
  .rs-image {
    transform: scale(1.3) translateX(10px);
    right: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .rs-image {
    transform: scale(1.4);
  }
}

@media only screen and (max-width: 425px) {
  .rs-image {
    transform: scale(1.3);
  }
}

#cookies {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: whitesmoke;
  background-color: gray;
  z-index: 1;
  display: none;
}

.cookies {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
